@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  background-image: url('/img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #333;
}

.container {
  column-count: 3;
  /* Número de columnas */
  column-gap: 10px;
  /* Espacio entre las columnas */
  padding: 20px;
}

.item {
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 20px;
  /* Espacio entre las tarjetas */
  display: inline-block;
  /* Asegura que las tarjetas se mantengan en la misma columna */
  width: 100%;
  /* Permite que las tarjetas llenen la columna */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  break-inside: avoid;
  /* Evita que se rompan dentro de las columnas */
}

.item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}